.car{
    font-size: 40px;
    text-align: center;
    margin-top: 5rem; 
    margin-bottom: 10px; 
    color: black; 
}

.car1{
    font-size: 25px;
    font-weight: 100;
    text-align: center ;
    width: 100%;
    margin-bottom:25px;
    font-family:  'Courgette', cursive;
}



@media screen and (max-width: 991px) {
   .car{
       font-size:19px
   }
   .car1{
       font-size:13px;
       font-weight: 200;
   }
  }
  
  @media screen and (max-width: 768px) {
     .car{
         font-size:19px
     }
     .car1{
         font-size:13px;
         font-weight:200
     }
    
  }
  