@media screen and (max-device-width: 480px) {
    .myForm{
        padding-left:-10px;
        margin-left: -20px;
        margin-right: -30px;  
    } 
}

@media screen and (min-device-width: 480px) and (max-device-width:1300px) {
  .myForm{
    margin-left: 0px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
    .myForm{
        padding-left:5px ;
        margin-left: -50px;
        margin-right: -50px;
    }
}

#contact{
    background: linear-gradient(to right, rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url("../../assests/images/back.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card_in_contact{
    margin: 10vh !important;
    border-radius: 7px !important;
    width: 70%;
    margin: 80px 0 80px 0;
    background: transparent !important;
    box-shadow: 0px 0px 10px gray;
}

input::placeholder{
    color: black !important;
}

textarea::placeholder{
    color: black !important;
}

.cta{
    width: 100%;
    background-color: #0d0d3a;
    opacity: 0.8;
}
.cta h1{
    padding: 10vh;
    text-align: center;
    font-family: 'Courgette', cursive;
}

@media screen and (max-device-width: 768px) {
    .card_in_contact{
        width: 100%;
        margin: 0 !important;
        border: none !important;
    }
}