.hi{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#09091e;
    margin-top: -150px;
}
h1{
    color:#fff;
}

.hi img:hover {
   transform: scale(1.5);
   border-radius: 10px;
  }