.hi{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#09091e;
    margin-top: -150px;
}
h1{
    color:#fff;
}

.hi img:hover {
   transform: scale(1.5);
   border-radius: 10px;
  }

.faq__section{
    margin:0px;
    padding-bottom:50px; 
    background: linear-gradient(to right, rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url("../../assests/images/back.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}